{% extends 'base_main.html' %}

{% block title %}
{% endblock %}
{% block extJS %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Popup -->
<div id="Popup">

<!-- SubPopup -->
<div id="SubPopup">
<script type="text/javascript">
$(function(){
$(".select").each(function(){
var s=$(this);
var z=parseInt(s.css("z-index"));
var dt=$(this).children("dt");
var dd=$(this).children("dd");
var _show=function(){dd.slideDown(200);dt.addClass("cur");s.css("z-index",z+1);};
var _hide=function(){dd.slideUp(200);dt.removeClass("cur");s.css("z-index",z);};
dt.click(function(){dd.is(":hidden")?_show():_hide();});
dd.find("a").click(function(){dt.html($(this).html());_hide();});
$("body").click(function(i){ !$(i.target).parents(".select").first().is(s) ? _hide():"";});})})
</script>
<div class="form_boxC">
<p>"<span class="f_cB">*</span>"号为必填项目</p>
<form action="" method="post">
<table cellpadding="0" cellspacing="0">
<tr>
<th>学生姓名 <span class="f_cB">*</span></th>
<td><div class="txtbox floatL" style="width:100px;"><input name="s_name" type="text" size="5" value="张三"></div></td>
</tr>

{#<tr>#}
{#<th>性别 <span class="f_cB">*</span></th>#}
{#<td><!-- selectbox -->#}
{#<div class="selectbox" style="width:230px;">#}
{#<dl class="select">#}
{#<dt>请选择</dt>#}
{#<dd><ul>#}
{#<li><a href="#"> 男 </a></li>#}
{#<li><a href="#"> 女 </a></li>#}
{#</ul></dd></dl>#}
{#</div>#}
{#<!-- /selectbox --></td>#}
{#</tr>#}
<tr>
<th>所属班级<span class="f_cB">*</span></th>
<td><!-- selectbox -->
<div class="selectbox" style="width:230px;">
    <select name="g_id" style="width:220px;">
        {% for grade in grades %}
        <option value="{{ grade.g_id }}">{{ grade.g_name }}</option>
        {% endfor %}
    </select>
</div>
</td>
</tr>

</table>
<div id="BtmBtn">
<div class="btn_box floatR"><input name="" type="submit" value="提交"></div>
</div>
</form>
</div>
</div>
</div>
{% endblock %}