{% extends 'base_main.html' %}

{% block title %}
{% endblock %}
{% block extJS %}
{{ super() }}
{% endblock %}

{% block content %}


<!-- MainForm -->
<div id="MainForm">
<div class="form_boxA">
<h2>班级信息列表</h2>
<table cellpadding="0" cellspacing="0">
<tr>
<th>序号</th>
<th>班级名称</th>
<th>创建时间</th>
<th>操作</th>
</tr>
    {% for grade in grade_list %}
<tr>
<td>{{ grade.g_id }}</td>
<td>{{ grade.g_name }}</td>
<td>{{ grade.g_create_time }}</td>
<td><a href="/index/stu_of_grade/?g_id={{ grade.g_id }}">查看</a> | <a href="#">操作</a></td>
</tr>
    {% endfor %}
</table>
<p class="msg">共找到47条年度预算记录，当前显示从第1条至第10条</p>
</div>

<ul id="PageNum">
<li><a href="#">首页</a></li>
<li><a href="#">上一页</a></li>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
<li><a href="#">3</a></li>
<li><a href="#">4</a></li>
<li><a href="#">5</a></li>
<li><a href="#">6</a></li>
<li><a href="#">下一页</a></li>
<li><a href="#">尾页</a></li>
</ul>

</div>

{% endblock %}