{% extends 'base_main.html' %}

{% block title %}
{% endblock %}
{% block extJS %}
{{ super() }}
{% endblock %}

{% block content %}


<!-- MainForm -->
<div id="MainForm">
<div class="form_boxA">
{% if grade %}
    <h2>{{ grade.g_name }}班-学生信息列表</h2>
{% else %}
    <h2>学生信息列表</h2>
{% endif %}
<table cellpadding="0" cellspacing="0">
<tr>
<th>序号</th>
<th>学生名称</th>
<th>操作</th>
</tr>
    {% for student in student_list %}
<tr>
<td>{{ student.s_id }}</td>
<td>{{ student.s_name }}</td>
<td><a href="p2.html">删除</a></td>
</tr>
    {% endfor %}

</table>
<p class="msg">共找到47条年度预算记录，当前显示从第1条至第10条</p>
</div>

<ul id="PageNum">
    <li>当前第{{ paginate.page }}页</li>
<li><a href="/index/stu_of_grade/?g_id={{ grade.g_id }}">首页</a></li>
    {% if paginate.has_prev %}
<li><a href="/index/stu_of_grade/?g_id={{ grade.g_id }}&page={{ paginate.prev_num }}">上一页</a></li>
    {% endif %}
{% for i in paginate.iter_pages() %}
    {% if not i %}
        <li><a href="#">…</a></li>
    {% else %}
<li><a href="/index/stu_of_grade/?g_id={{ grade.g_id }}&page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}
{% if paginate.has_next %}
<li><a href="/index/stu_of_grade/?g_id={{ grade.g_id }}&page={{ paginate.next_num }}">下一页</a></li>
{% endif %}
<li><a href="/index/stu_of_grade/?g_id={{ grade.g_id }}&page={{ paginate.pages }}">尾页</a></li>
</ul>

</div>

{% endblock %}