{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3>待收货订单列表</h3>

    <ul>
        <!--订单展示-->
        {% for order in payed_orders %}
            <li>
                <a href="#">
                    <p>订单编号:{{ order.o_num }}<!-- 订单id --></p>
                    <p><!-- 数量 --></p>
                        <!--展示商品的名称-->
                        {% for order_goods in order.ordergoodsmodel_set.all %}
                        <li>
                            <p>{{ order_goods.goods.productlongname }}</p>
                            <img src="{{ order_goods.goods.productimg }}" alt="">
                        </li>

                        {% endfor %}
                        <!--处理结束-->
                </a>
            </li>
            <hr style=" background-color: #5bc0de;height: 2px;">
        {% endfor %}
        <!--订单处理结束-->
    <a href="{% url 'home:mine' %}" class="btn btn-success btn-block">返回个人中心</a>
    </ul>


{% endblock %}
