{% extends 'base_main.html' %}
{% load static %}
{% block extCSS %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'app/cart/cart.css' %}">
{% endblock %}

{% block EXTJS %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/cart/js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/market/js/my_market.js' %}"></script>
{% endblock %}


{% block content %}

    <div id="cart">

        <h3>购物车</h3>

        <div class="full">

            <section class="clear">

                <ul>
                    <li>收货人:王帅帅<div><p><span><a href="#">修改&gt;</a></span></p></div></li>
                    <li>电话:8008208820 </li>
                    <li>收货地址:宝胜北里西区28号天丰利商城</li>

                </ul>


                <div class="bill">

                    <p>闪送超市</p>

                    <a href="#">凑单专区</a>

                    <p>满100减99</p>

                </div>

                <p class="delivery">

                    <span>收货时间:</span>
                    <span>一小时送达</span>
                    <a href="#">可送达&gt;</a>
                </p>

                <p class="delivery">
                    <span>留言:</span>
                    <input type="text" placeholder="有什么特殊需求">
                </p>


                <menu>

                    <ul>
                    {% csrf_token %}
                        <!--购物车信息展示-->
                        {% for goodsinfo in user_cart %}
                            <li class="menuList" cartid="">
                                <div class="confirm">
                                    <span class="is_choose" is_select="">
                                        {% if goodsinfo.is_select %}
                                            <span class="is_select" goodsid="{{ goodsinfo.goods.id }}">√</span>
                                        {% else %}
                                            <span class="is_select" goodsid="{{ goodsinfo.goods.id }}">X</span>
                                        {% endif %}

                                    </span>
                                </div>
                                <a href="#">
                                    <img src="{{ goodsinfo.goods.productimg }}" alt="">
                                    <p>{{ goodsinfo.goods.productlongname }}</p>
                                    <p>
                                    <span>单价</span>
                                    <span>￥{{ goodsinfo.goods.price }}</span>
                                    </p>
                                </a>

                                <section>
                                    <button goodsid="{{ goodsinfo.goods.id }}" class="subcart">-</button>
                                    <span id="num_{{ goodsinfo.goods.id }}">{{ goodsinfo.c_num }}</span>
                                    <button goodsid="{{ goodsinfo.goods.id }}" class="addcart">+</button>
                                </section>
                            </li>
                        {% endfor %}
                        <!--购物车数据处理结束-->


                        <li class="payTheBill">

                            <div class="confirm" id="">
                                <span>
                                        {% if is_all_select %}
                                        <span id="all_select" allstatus="{{ is_all_select }}">√</span>
                                        {% else %}
                                        <span id="all_select" allstatus="{{ is_all_select }}">X</span>
                                        {% endif %}
                                </span>
                            </div>

                            <p>
                                <span>全选</span>
                                <span>总价:</span>
                                <span id="total"></span>
                            </p>

{#                            <span id="generate_order"><a href="{% url 'home:generate_order' %}">下单</a></span>#}
                            <span id="generate_order">下单</span>

                        </li>

                    </ul>

                </menu>

{#            <div class="menuList">#}
{##}
{#                {% for cart in carts %}#}
{##}
{#                    <div class="confirm">#}
{#                    <span>#}
{#                        <span>√</span>#}
{#                    </span>#}
{#                    </div>#}
{##}
{#                    <a href="#">#}
{#                        <img src="{{ cart.goods.productimg }}" alt="{{ cart.goods.productlongname }}">#}
{#                        <p>{{ cart.goods.productlongname }}</p>#}
{#                    </a>#}
{##}
{#                {% endfor %}#}
{##}
{##}
{#            </div>#}
            </section>



        </div>


    </div>


{% endblock %}